.image-theme {
    background-color: #403E3B;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
    padding: 0 60px 0 1080px;
}

.thematic-paragraph {
    color: #645C55;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
}

.team-members {
    display: flex;
    align-items: center;
    gap: 30px;
    font-style: normal;
    min-width: 280px;
    padding: 8px 0;
}

.team-members__image {
    width: 84px;
    height: 84px;
}

.team-members__name {
    font-size: 18px;
    line-height: 26px;
}

.team-members__position {
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
    margin-top: -2px;
}

.small-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 600px;
    padding-right: 15px;
}

.small-message__title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 22px 140px 22px 152px;
    color:#1B1A1A;
}

.header__logo {
    max-width: 220px;
}

.header__menu {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.header__menu .header__menu-link {
    text-decoration: none;
    display: block;
}

.header__menu-button {
    color: #fff;
    font-size: 16px;
    background-color: black;
    border-radius: 14px;
    letter-spacing: 0.4px;
    min-width: 155px;
    min-height: 46px;
    border: none;
}

.cover {
    display: flex;
    background-color: #ECE7E4;
}

.cover__article {
    margin: 77px 60px;
    padding: 60px 51px 41px 40px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.cover__title {
    font-size: 64px;
    line-height: 110%;
    color: #1B1A1A;
}

.mini__button {
    background: transparent;
    border: none;
    max-width: 133px;
    min-height: 46px;
    letter-spacing: 0.4px;
    margin: 11px 0 0 5px;
}

.cover__image {
    height: 720px;
    width: 720px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 100px 336px;
    padding-bottom: 20px;
}

.about__title {
    font-size: 32px;
    line-height: 38px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 8px 0 10px;
}

.reading-house {
    background-image: url(../images/backgound-IMAGE-reading-house.png);
}

.how {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 47px;
    margin: 100px 120px 86px;
}

.how__titles {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
}

.how__title {
    font-size: 39px;
    line-height: 42px;
}

.how__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 16.02px;
    margin: 0 16px;
    min-width: 378.7px;
    min-height: 259px;
}

.how__cards-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 0 42px;
}

.how__cards-list-image {
    width: 117px;
    margin-bottom: 5px;
}

.how__cards-list-title {
    font-size: 18px;
    line-height: 26px;
}

.marble-staircase {
    background-image: url(../images/marble-IMAGE.png);
}

.customers {
    background-color: #403E3B;
}

.customers__article {
    padding: 60px 136px;
    display: flex;
    gap: 132px;
    justify-items: start;
    align-items: center;
}

.customers__text, .customers__thematic-paragraph {
    color: #ECE7E4;
}

.customers__thematic-paragraph {
    margin: 10px 0 -17px;
}

.customers__text {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 460px;
    margin-bottom: 10px;
}

.customers__title {
    font-size: 32px;
    line-height: 38px;
    
}

.customers__paragraph {
    font-size: 15px;
    line-height: 24px;
}

 .customers__logos {
    display: flex;
    flex-wrap: wrap;
    gap: 96px;
    max-width: 432px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
} 

.customers__logos-image {
    width: 128px;
}

.customers__HillPlayes {
    height: 30px;
}

.customers__Riksgransen {
    height: 78px;
}

.customers__StudioCai {
    height: 20px;
}

.customers__ChillIndustries {
    height: 36px;
}

.swirling-staircase {
    background-image: url(../images/background-IMAGE-swirling-staircase.png);
    padding: 0 1080px 0 60px;
}

.projects {
    background-color: #F7F7F7;
    padding: 113px 120px 100px;
}

.projects__article {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.projects__article-text-box {
    max-width: 600px;
    padding-right: 19px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projects__article-title {
    font-size: 39px;
    line-height: 42px;
}

.projects__article-text {
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
}

.projects__cards {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-left: 2px;
}

.projects__cards-list {
    min-height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
}

.projects__cards-list-title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    margin-top: 1px;
}

.projects__cards-list-text {
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
    margin-top: -1px;
}

.projects__cards-list-button {
    background-color: #1B1A1A;
    border-radius: 14px;
    color: #fff;
    border: none;
    min-width: 133px;
    min-height: 46px;
    margin: 280px 0 0 5px;
}

.projects__transparent__button {
    background: transparent;
    border: none;
    min-height: 42px;
    letter-spacing: 0.4px;
}

.projects__card-malmo {
    background-image: url(../images/malmo-IMAGE.png);
}

.projects__content-New-York {
    background-image: url(../images/NewYork-IMAGE.png);
}

.projects__card-London {
    background-image: url(../images/London-IMAGE.png);
}

.our-team {
    margin: 100px 136px;
    display: flex;
    gap: 16.02px;
}

.our-team__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-right: 20.6px;
    max-width: 378.6px;
}

.our-team__text-title {
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}

.our-team__text-paragraph {
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
}

.our-team__button {
    max-width: 121px;
}

.our-team__members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: 733.3px;
    grid-gap: 36px;
    padding: 0 120.6px 20px 0;
}

.our-team__table {
    margin-right: 78px;
}

.contact {
    background-color: #CEC4BC;
}

.contact__article {
    padding: 100px 136px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}

.contact__article-title {
    font-size: 40px;
    line-height: 42px;
    margin: -4px 0 17px;
}

.contact__button {
    min-width: 145px;
    margin: 0;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 136px;
}

.footer__logo {
    display: block;
    max-width: 256px;
}

.footer__text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}

.footer__logo-lists {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
}

.footer__logo-list {
    max-width: 24px;
}

.footer__logo-link .footer__logo-list {
    display: block;
}